@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato";
  width: 100vw;
  height: 100Vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header {
  height: 800px;
  width: 100vw;
  background: calc(50% + 12px) center url("../img/bikes/HeaderPicture.png") no-repeat;
  background-size: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  margin: 2.188em 0 0 0;
}
.menu__item {
  font-size: 0.813em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4a59;
}
.menu__logo {
  padding: 0px 2em 0px 2em;
}

.about-shop {
  width: 67.5%;
  margin: 7.313em 0 8.875em 0;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67.5%;
}

.title {
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #38393b;
  padding: 2.125em 0 2.125em 0;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.text {
  font-size: 1em;
  font-weight: 400;
  color: #848688;
  text-align: center;
  line-height: 34px;
}

.twitter-add {
  width: 67.5%;
  margin: 7.75em 0 4.25em 0;
}
.twitter-add__title {
  text-transform: none;
}
.twitter-add__title_gray {
  font-weight: 400;
  color: #848688;
}
.twitter-add__text {
  font-style: italic;
}
.twitter-add__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  margin: 6.5em 0 0 0;
}

.dots__dot {
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 100%;
}

.dots__dot:first-child {
  background-color: #a9aeb1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(530px, 1fr));
}
.grid__pic_small {
  -ms-flex-item-align: end;
      align-self: end;
}
.grid__pic_small img {
  height: 29.26%;
  width: 100%;
}

.grid__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.big1, .big2, .medium1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 533px;
}

.big1 {
  background-image: url("../img/bikes/grid/big01/Img01.png");
}

.big2 {
  background-image: url("../img/bikes/grid/big02/Img02.png");
}

.medium1 {
  background-image: url("../img/bikes/grid/medium01/Img01.png");
}

.medium2 img {
  height: 100%;
  width: 100%;
}

.item__line {
  width: 50px;
  height: 1px;
  background-color: #d7d8d8;
  justify-self: center;
  margin: 40px 0 54px;
}

.item__block {
  padding: 60px 0px 0px 0px;
  justify-self: center;
}

.pictures {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0px;
}

.item__pic img {
  width: 100%;
  height: 100%;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 100vw;
  margin: 0 0 6.813em 0;
  background-color: #2e3338;
}
.discover__button {
  font-size: 0.875em;
  text-transform: uppercase;
  color: white;
  padding: 1.25em 3.625em 1.25em 3.625em;
  border: 1px solid white;
}

.email-add {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 13.125em 0;
}
.email-add__pic {
  margin: 0 0 2.438em 0;
}
.email-add__title {
  font-size: 1.5em;
  font-weight: 400;
  color: #848688;
  font-style: italic;
  margin: 0 0 2.188em 0;
}
.email-add__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
}

.form__input {
  width: 400px;
  height: 70px;
  border: 1px solid #d3d6d8;
  padding: 0 0 0 1.75em;
  font-size: 1.25em;
}
.form__input::-webkit-input-placeholder {
  font-size: 1.25em;
  color: #919191;
  font-style: italic;
}
.form__input::-moz-placeholder {
  font-size: 1.25em;
  color: #919191;
  font-style: italic;
}
.form__input:-ms-input-placeholder {
  font-size: 1.25em;
  color: #919191;
  font-style: italic;
}
.form__input::-ms-input-placeholder {
  font-size: 1.25em;
  color: #919191;
  font-style: italic;
}
.form__input::placeholder {
  font-size: 1.25em;
  color: #919191;
  font-style: italic;
}
.form__button {
  font-size: 1.5em;
  text-transform: uppercase;
  width: 125px;
  height: 70px;
  color: white;
  font-weight: 300;
  background-color: #86c19e;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 246px;
  padding: 0 0 6.75em 0;
}
.footer__address {
  color: #848688;
}

.address {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 17.87px;
  white-space: nowrap;
}
.address__town {
  font-size: 1em;
}
.address__street {
  font-size: 0.875em;
  font-style: italic;
}
.address__mail-ID {
  font-size: 0.875em;
  font-style: italic;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.938em;
}

.captcha {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 0.563em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.captcha__text {
  white-space: nowrap;
  font-size: 0.875em;
  font-style: italic;
}
.captcha__logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 1100px) {
  .header {
    height: 600px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .captcha {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address {
    text-align: center;
  }
}
@media screen and (min-width: 1600px) {
  .grid__pic_big {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media screen and (min-width: 1060px) {
  .first {
    grid-row: 2/3;
  }
  .tall {
    grid-row: span 2;
  }
  .long {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1066px) and (max-width: 1599px) {
  .big2 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .small2 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 1066px) {
  .small2 {
    grid-row: 4/5;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 400px;
  }
  .main {
    font-size: 14px;
  }
  .form__input {
    width: 250px;
  }
  .grid, .pictures {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  .menu__logo {
    display: none;
  }
  .dot {
    display: none;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 20px;
  }
  .form__button {
    width: 80%;
  }
  .form__input {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .header {
    height: 200px;
  }
  .main {
    font-size: 12px;
  }
}