@import "nullstyle.scss";

$color-title: #38393b;
$color-text: #848688;
$color-menu-item: #4d4a59;
$color-placeholder: #919191;
$color-bg-discover: #2e3338;
$color-bg-button: #86c19e;
$color-border-input: #d3d6d8;

body {
    font-family: "Lato";
    width: 100vw;
    height: 100Vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
}

.header {
    height: 800px;
    width: 100vw;

    background: calc(50% + 12px) center url("../img/bikes/HeaderPicture.png")  no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    margin: 2.188em 0 0 0;

    &__item {
        font-size: 0.813em;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-menu-item;
    }

    &__logo {
        padding: 0px 2em 0px 2em;
    }
}

.about-shop {
    width: 67.5%;

    margin: 7.313em 0 8.875em 0;
}

.info-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 67.5%;
}

.title {
    font-size: 1.125em;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;

    color: $color-title;

    padding: 2.125em 0 2.125em 0;

    word-spacing: 5px;
    letter-spacing: 1px;
}

.text {
    font-size: 1em;
    font-weight: 400;
    color: $color-text;

    text-align: center;

    line-height: 34px;
}

.twitter-add {

    width: 67.5%;
    margin: 7.75em 0 4.25em 0;

    &__title {
        text-transform: none;

        &_gray {
            font-weight: 400;
            color: $color-text;
        }
    }

    &__text {
        font-style: italic;
    }

    &__dots {
        display: flex;
        gap: 9px;
        margin: 6.5em 0 0 0;
    }
}

.dots {
    &__dot {
        width: 11px;
        height: 11px;
        
        border: 1px solid #c8c8c8;
        border-radius: 100%;
    }
}

.dots__dot:first-child {
    background-color: #a9aeb1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(530px, 1fr));

    &__pic {
        &_small {
            align-self: end;
            img {
                height: 29.26%;
                width: 100%;
            }
        }

    }
}

.grid__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.big1, .big2, .medium1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 533px;
}

.big1 {
    background-image: url("../img/bikes/grid/big01/Img01.png");
}

.big2 {
    background-image: url("../img/bikes/grid/big02/Img02.png");
}

.medium1 {
    background-image: url("../img/bikes/grid/medium01/Img01.png");
}

.medium2 {
    img {
        height: 100%;
        width: 100%;
    }
}

.item__line {
    width: 50px;
    height: 1px;
    background-color: #d7d8d8;
    
    justify-self: center;

    margin: 40px 0 54px;
}

.item__block {
    padding: 60px 0px 0px 0px;
    justify-self: center;
}

.pictures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
}

.item {
    
    &__pic {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.discover {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 100vw;
    margin: 0 0 6.813em 0;
    background-color: $color-bg-discover;

    &__button {
        font-size: 0.875em;
        text-transform: uppercase;
        color: white;

        padding: 1.25em 3.625em 1.25em 3.625em;
        border: 1px solid white;
    }
}

.email-add {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    margin: 0 0 13.125em 0;

    &__pic {
        margin: 0 0 2.438em 0;
    }

    &__title {
        font-size: 1.5em;
        font-weight: 400;
        color: $color-text;
        font-style: italic;
        margin: 0 0 2.188em 0;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }
}

.form {
    &__input {
        width: 400px;
        height: 70px;
        border: 1px solid $color-border-input;
        padding: 0 0 0 1.75em;
        font-size: 1.25em;
    }

    &__input::placeholder {
        font-size: 1.25em;
        color: $color-placeholder;
        font-style: italic;
    }

    &__button {
        font-size: 1.5em;
        text-transform: uppercase;
        width: 125px;
        height: 70px;
        color: white;
        font-weight: 300;
        background-color: $color-bg-button;
    }
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 246px;

    padding: 0 0 6.75em 0;

    &__address {
        color: $color-text;
    }
}

.address {
    width: min-content;
    line-height: 17.87px;
    white-space: nowrap;

    &__town {
        font-size: 1em;
    }

    &__street {
        font-size: 0.875em;
        font-style: italic;
    }

    &__mail-ID {
        font-size: 0.875em;
        font-style: italic;
    }
}

.socialLinks {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.938em;
}

.captcha {
    width: 25%;

    display: flex;
    flex-flow: row nowrap;
    gap: 0.563em;
    align-items: center;
    justify-content: end;

    &__text {
        white-space: nowrap;
        font-size: 0.875em;
        font-style: italic;
    }

    &__logo {
        width: max-content;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        height: 600px;
    }

    .footer {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .captcha {
        justify-content: center;
    }

    .address {
        text-align: center;
    }
}

@media screen and (min-width: 1600px) {
    .grid__pic_big {
        grid-column: span 2;
		grid-row: span 1;
    }
}

@media screen and (min-width: 1060px){
    .first {
        grid-row: 2 / 3;
    }
    
    .tall {
        grid-row: span 2;
    }
    
    .long {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1066px) and (max-width: 1599px) {
    .big2 {
        grid-column: span 2;
		grid-row: span 1;
    }
    .small2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 1066px) {
    .small2 {
        grid-row: 4 / 5;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 400px;
    }

    .main {
        font-size: 14px;
    }

    .form {
        &__input {
            width: 250px;
        }
    }

    .grid, .pictures {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {   
    .menu__logo {
        display: none;
    }

    .dot {
        display: none;
    }

    .form {
        flex-flow: column nowrap;
        gap: 20px;

        &__button {
            width: 80%
        }
        &__input {
            width: 80%;
        }
    }
}

@media screen and (max-width: 400px) {
    .header {
        height: 200px;
    }

    .main {
        font-size: 12px;
    }
}